/* Styles of elements like cards etc */



/* Minor Options */
.main {
	background-image: url("https://images.unsplash.com/photo-1526478806334-5fd488fcaabc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1390&q=80");
	min-height: 100vh;
}

.spaceb {
	justify-content: space-between;
}

.size100 {
	min-height: 100vh;
}

.title {
	text-transform: capitalize;
	font: bold 32px 'Montserrat', sans-serif;
	margin-bottom: 30px;
	text-align: center;
}

.heading-m {
	padding: 0;
	margin: 0;
	color: black;
	font-size: 2em;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1.2px;
}

hr {
	width: 250px;
	height: 3px;
	background-color: #571506;
	border: 0;
	margin-bottom: 50px;
}

.align-s {
	align-items: flex-start;
}

.second {
	order: 2;
}

/* Links */

a {
	text-decoration: none;
	opacity: 0.75;
	color: #fff;
}

a:hover {
	opacity: 1;
}

/* Brand styling */
.brand {
	letter-spacing: 1.5px;
	font-size: 2em;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}

/* Button Styling */
.btn,
a .btn {
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: #571506;
	opacity: 1;
	color: white;
	border: none;
	padding: 15px;
	margin-right: 30px;
}

/* SECTION stying*/
section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 40px;
}

.section-p {
	max-width: 775px;
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 30px;
	text-align: center;
}

section:not(.hero):nth-child(even) {
	background-color: #f5f5f5;
}


@media (max-width: 800px) {
	section {
		padding: 50px 20px;
	}
}

/* form styling */

.form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 60%;
}

.form .input {
	padding: 15px;
	margin-right: 30px;
	font-size: 1em;
	color: #555;
	flex: 1 60%;

}

.form .btn {
	flex: 1 20%;
}

@media (max-width: 1000px) {
	.form input {
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}
}

/* Header Styling */
header {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 35px 100px 0;
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
	color: #fff;
	z-index: 1;
}

header nav {
	display: flex;
	margin-right: -15px;
}

ul,
nav {
	list-style: none;
}

header nav li {
	margin: 0 15px;
}

@media (max-width: 800px) {
	header {
		padding: 20px 50px;
		flex-direction: column;
	}

	header h2 {
		margin-bottom: 15px;
	}
}

 
/*Footer Section*/

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #19191a;
	color: #fff;
	padding: 20px 0;
	height: 30vh;
}

.footer-contact {
	flex: 0 1 80%;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.footer-contact h3 {
	margin: 0;
	padding: 0;
	flex: 0 1 30%;

}

.footer-contact ul {
	flex: 0 1 60%;
	display: flex;
	flex-flow: row nowrap;

}

.footer-contact ul li {
	flex: 0 1 20%;
}




@media (max-width: 1100px) {
	footer {
		flex-direction: column;
	}

	footer p {
		text-align: center;
		margin-bottom: 20px;
	}

	footer ul li {
		margin: 0 8px;
	}
}
/* ANIMATIONS  */
@keyframes fadein {
	100% {
		opacity: 1;
	}
}

/* Hero styling */
.hero {
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: #fff;
}

.hero .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}

.hero-content-area {
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;
}

.hero .brand {
	font: bold 60px "Open Sans", sans-serif;
	margin-bottom: 15px;
	color: white;
}

.hero h3 {
	font: normal 28px "Open Sans", sans-serif;
	margin-bottom: 40px;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@media (max-width: 800px) {
	.hero {
		min-height: 600px;
	}

	.hero h1 {
		font-size: 48px;
	}
}

/* Grids */
.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* Styling CTA */

.cta {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;
	height: 80vh;
	width: 100%;
	min-height: 0;
	padding: 0 20px;
	margin-top: 40px;
}

.cta-image {
	flex: 0 1 45%;
	height: 100%;
	object-fit: cover;
	padding: 0;
	margin: 0;
	min-height: 0;
	max-width: 50%;
}

.cta-content {
	flex: 0 1 45%;
	height: 100%;
	padding: 0;
	margin: 0;
	min-height: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.cta-content .heading-m {
	flex: 0 1 20%;
	text-align: center;
	min-height: 0;
}

.cta-content .cta-p {
	flex: 0 1 60%;
	text-align: left;
	min-height: 0;
}

.cta-content a .btn {
	flex: 0 1 10%;
	text-align: center;
	align-self: flex-end;
	justify-self: flex-end;
}

.cta-p {
	padding: 0;
	margin: 0;
	font-size: 1em;
}


/* CARDS */
.shopContent .itemCard {
	flex: 0 1 300px;
	margin: 20px;
	width: 260px;
	height: 366px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	box-shadow: 1px 1px 5px black;
	border-radius: 5px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.itemCard:hover {
	box-shadow: 2px 2px 15px black;
}

.itemCard:hover .itemCardImg {
	filter: blur(0);
}

.itemCardImgContainer {
	position: relative;
	height: 300px;
}


.itemCardImg {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	flex: 0 1 300px;
	height: 300px;
	max-height: 300px;
	width: 100%;
	object-fit: cover;
	filter: blur(1.1px);
}

.itemCardContent {
	flex: 0 1 66px;
	max-height: 66px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}


.itemCardStock {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px;
	color: white;
	letter-spacing: 1px;
	text-shadow: 1px 1px 5px black;

}

.itemCardPrice {
	font-size: 2em;
	letter-spacing: 1.7px;
	font-weight: 700;
	text-align: center;
	margin: auto 0;

}

.itemCardHeader {

	font-style: italic;
	font-weight: 700;
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	color: white;
	letter-spacing: 1px;
	text-shadow: 1px 1px 5px black;

}



/* DETAIL CARD */
.itemDetailSection .itemCard {
	margin: auto;
	box-shadow: 2px 2px 15px black;
	height: 450px;
	width: 850px;
	background: #f5f5f5;
	display: flex;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	flex-flow: row nowrap;
	justify-content: space-between;

}

.itemDetailCardImg {
	width: 50%;
	object-fit: cover;
	height: 100%;
	max-height: 100%;
}

.itemDetailContent {
	flex: 0 1 50%;
	align-self: flex-end;
	padding: 20px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.detailHeader {
	flex: 0 1 10%;
	align-self: flex-start;
	position: unset;
}

.detailStock {
	flex: 0 1 30%;
	align-self: flex-end;
	font-weight: 700;
	font-style: italic;
	font-size: 1.1em;
}

.itemCardDescription {
	flex: 0 1 auto;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-transform: none;
	letter-spacing: 0;
	margin-bottom: 17px;
	color: #4E4E4E;
	font-size: 1em;
	line-height: 1.6em;
	margin-right: 25px;
	text-align: justify;

}

.itemChoices {
	width: 100%;
	flex: 0 1 15%;
}

.itemDetailCardAmount {
	width: 70%;
	display: inline-block;
}

.itemChoices .itemCardPrice {
	font-size: 1.5em;
	width: 25%;
	display: inline-block;
	letter-spacing: 0;

}

.stepButton {
	font-size: 1.2em;
	background: #000;
	padding: 5px;
	display: inline-block;
	outline: 0;
	border: 0;
	margin: -1px;
	border-radius: 2px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #f5f5f5;
	cursor: pointer;
	width: 15%;
}

.detailInput {
	margin: -1px;
	font-size: 1.2em;
	padding: 5px;
	outline: 0;
	border: 1px solid #000;
	text-align: center;

}

.itemCardIcons {
	font-size: 1.3em;
	flex: 0 1 10%;
}

.addtoC {
	background: #000;
	padding: 10px;
	display: inline-block;
	outline: 0;
	border: 0;
	margin: -1px;
	border-radius: 2px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #f5f5f5;
	cursor: pointer;
	width: 67%;
}

.addtoF {
	width: 22%;
}

.addtoC:hover {
	background: White;
	color: black;
	transition: all .4s ease-in-out;
}

.itemDetailContent .itemCardPrice {
	/* align-self: flex-end; */
}



.itemDetailContent .itemCardIcons {
	text-align: right;
}

.cancel {
	padding: 15px;
	padding-left: 0;
	font-size: 1.5em;
	top: 0;
	right: 0;
	color: gray;
	transition: color 0.2s linear;
	position: absolute;

}

.cancel:hover {
	color: black;
}


/* ICONS */
.icon {
	font-size: 1.5em;
	color: #571506;
	padding-left: 10px;
	transition: color 0.2s linear;
	z-index: 5;
}

.fa-cart-plus {
	color: black;
	transition: font-size 0.2s linear;
}

.fa-cart-plus:hover {
	font-size: 1.7em;

}

.solid {
	color: transparent;
	transition: color 0.2s linear;
}

.outline {
	color: white;
	transition: color 0.2s linear;
}

.icon:not(.fa-cart-plus):hover {
	color: red;
}

.itemCardFavIcon {
	z-index: 2;
	padding: 10px;
	top: 0;
	right: 0;
}

.itemCardFavIcon:hover .solid,
.itemCardFavIcon:hover .outline {
	color: red;
}

.fa-stack {
	position: absolute !important;
}