/* 
    DARk AMBER #571506
    Dark Blue #09184a

*/
html {
    margin: 0;
    padding: 0; 
    font-size: 16px;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'Roboto', sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body::-webkit-scrollbar {
    display: none;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 40px;
}

section:not(.hero):nth-child(even) {
	background-color: #f5f5f5;
}

.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

hr {
	width: 250px;
	height: 3px;
	background-color: #571506;
	border: 0;
	margin-bottom: 50px;
}

section h3.title {
	text-transform: capitalize;
	font: bold 32px "Open Sans", sans-serif;
	margin-bottom: 30px;
	text-align: center;
}

section p {
	max-width: 775px;
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 30px;
	text-align: center;
}

/* Styling CTA */

.cta {
	display:flex;
	flex-flow:row nowrap;
	justify-content: space-between;
	align-items:stretch;
	height:80vh;
	width:100%;
	min-height:0;
	
	padding:0 20px;
	margin-top:40px;
}
.cta-image {
	flex: 0 1 45%;
	height:100%;
	object-fit:cover;
	padding:0;
	margin:0;
	min-height:0;
	max-width:50%;
}
.second{
	order:2;
}
.cta-content{
	flex: 0 1 45%;
	height:100%;
	padding:0;
	margin:0;
	min-height :0;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: flex-end;
}
.align-s {
	align-items:flex-start;
}
.cta-content .heading-m{
	flex: 0 1 20%;
	text-align:center;
	min-height:0;
}

.cta-content .cta-p {
	flex:0 1 60%;
	text-align:left;
	min-height:0;
}
.cta-content a .btn {
	flex: 0 1 10%;
	text-align:center;
	align-self: flex-end;
	justify-self:flex-end;
}
.heading-m{
	padding:0;
	margin:0;
	color:black;
	font-size:1.2em;
	font-weight:800;
	letter-spacing:1.2px;
}
.cta-p{
	padding:0;
	margin:0;
	font-size:1em;
}


.btn {
	color:black;
	border:1px solid black;
}



@media (max-width: 800px) {
	section {
		padding: 50px 20px;
	}
}
 

