/* 
    DARk AMBER #571506
    Dark Blue #09184a
	font-family: 'Montserrat', sans-serif;
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	-ms-overflow-style: none;
	scrollbar-width: none;
	font-family: 'Roboto', sans-serif;
}


body::-webkit-scrollbar {
	display: none;
}



